<div class="dashboard-card activity-card">

    <div class="card-header">

        <div>

            <h5>📝 آخرین فعالیت‌ها</h5>

            <small>
                فعالیت‌های ثبت شده کاربران
            </small>

        </div>

    </div>

    <div class="empty-state">

        <div class="empty-icon">
            🗂️
        </div>

        <h4>
            هنوز فعالیتی ثبت نشده است
        </h4>

        <p>
            بعد از ثبت اولین عملیات ورود کالا، خروج کالا یا درخواست،
            آخرین فعالیت‌های کاربران در این قسمت نمایش داده خواهد شد.
        </p>

    </div>

</div>