<div class="dashboard-hero">

    <div class="hero-content">

        <div class="hero-title">

            <h2>
                👋 سلام {{ session.get("user") }}
            </h2>

            <span class="hero-status">
                آنلاین
            </span>

        </div>

        <p class="hero-text">
            به سیستم انبارداری منشور ارتباطات خوش آمدید.
        </p>

    </div>

    <div class="hero-meta">

        <div class="hero-info-item">

            <small>آخرین بروزرسانی</small>

            <strong>همین حالا</strong>

        </div>

    </div>

</div>