body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.table{
    background:white;
}

.form-control,
.form-select{
    height:44px;
}

.btn{
    border-radius:8px;
}

.modal-content{
    border-radius:12px;
}
