:root{

--primary:#2563eb;
--primary-dark:#1d4ed8;

--bg:#f5f7fb;

--card:#ffffff;

--border:#e8edf5;

--text:#222;

--muted:#6b7280;

--sidebar:#0f172a;

--sidebar-hover:#1e293b;

--radius:18px;

}

body{

font-family:Vazirmatn,sans-serif;

background:var(--bg);

margin:0;

color:var(--text);

}

a{

text-decoration:none;

}

.card-ui{

background:#fff;

border-radius:18px;

padding:22px;

box-shadow:0 8px 25px rgba(0,0,0,.05);

transition:.25s;

}

.card-ui:hover{

transform:translateY(-3px);

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.logo-center{

width:240px;

margin:auto;

display:block;

}

.quick-btn{

background:white;

border-radius:18px;

padding:20px;

text-align:center;

transition:.25s;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}

.quick-btn:hover{

transform:translateY(-4px);

}