<header class="topbar">

    <div class="topbar-left">

        <button class="menu-btn">
            <i class="bi bi-list"></i>
        </button>

        <div class="company-title">

            <h5>منشور ارتباطات</h5>

            <small>سیستم انبارداری</small>

        </div>

    </div>

    <div class="topbar-center">

        <img src="/static/logo.png"
             class="header-logo"
             alt="Manshoor">

    </div>

    <div class="topbar-right">

        <span class="user-name">

            <i class="bi bi-person-circle"></i>

            {{ session["user"] }}

        </span>

        <a href="/logout" class="btn btn-danger btn-sm">

            <i class="bi bi-box-arrow-right"></i>

            خروج

        </a>

    </div>

</header>