<div class="list-group shadow-sm">

    <a href="/dashboard" class="list-group-item list-group-item-action">
        🏠 داشبورد
    </a>

    <a href="/products" class="list-group-item list-group-item-action">
        📦 کالاها
    </a>

    <a href="/requests" class="list-group-item list-group-item-action">
        📋 درخواست کالا
    </a>

    <a href="/projects" class="list-group-item list-group-item-action">
        🏗 پروژه‌ها
    </a>

    <a href="/reports" class="list-group-item list-group-item-action">
        📊 گزارش‌ها
    </a>

    <a href="/activity-log" class="list-group-item list-group-item-action">
        📑 فعالیت کاربران
    </a>

    <a href="/users" class="list-group-item list-group-item-action">
        👤 کاربران
    </a>

    <hr>

    <a href="/logout" class="list-group-item list-group-item-action text-danger">
        🚪 خروج
    </a>

</div>
