{% extends "base.html" %}

{% block title %}
درخواست کالا
{% endblock %}

{% block content %}

<h3>📋 درخواست‌های کالا</h3>

<hr>

<form method="POST" action="/requests/add" class="card p-3 mb-4">

<div class="row">

<div class="col-md-4 mb-3">
<label>پروژه</label>

<select name="project_name" class="form-select">

{% for p in projects %}
<option value="{{ p.name }}">{{ p.name }}</option>
{% endfor %}

</select>

</div>

<div class="col-md-4 mb-3">

<label>اولویت</label>

<select name="priority" class="form-select">

<option value="عادی">عادی</option>
<option value="فوری">فوری</option>
<option value="خیلی فوری">خیلی فوری</option>

</select>

</div>

<div class="col-md-4 mb-3">

<label>توضیحات</label>

<input
type="text"
name="location_description"
class="form-control"
placeholder="مثلاً شعبه مرکزی"
>

</div>

</div>

<hr>

<hr>

<h5>کالای درخواستی</h5>

<table class="table table-bordered" id="items-table">

<thead>

<tr>

<th width="55%">کالا</th>

<th width="20%">تعداد</th>

<th width="15%">عملیات</th>

</tr>

</thead>

<tbody>

<tr>

<td>

<select
name="product_id[]"
class="form-select">

{% for p in products %}

<option
    value="{{ p.id }}"
    {% if p.qty <= 0 %}disabled{% endif %}
>

{{ p.name }}
({{ p.qty }} عدد)

{% if p.qty <= 0 %}
❌ اتمام موجودی
{% endif %}

</option>

{% endfor %}

</select>

</td>

<td>

<input
type="number"
name="qty[]"
value="1"
min="1"
class="form-control">

</td>

<td class="text-center">

<button
type="button"
id="add-row"
class="btn btn-primary">

➕

</button>

</td>

</tr>

</tbody>

</table>

<div class="text-end">

<button class="btn btn-success">

ثبت درخواست

</button>

</div>


</form>

<table class="table table-bordered">

<thead>

<tr>

<th width="8%">شماره</th>

<th width="18%">درخواست‌کننده</th>

<th width="22%">پروژه</th>

<th width="15%">اولویت</th>

<th width="17%">وضعیت</th>

<th width="20%">عملیات</th>

</tr>

</thead>

    <tbody>

    {% for r in requests %}

    <tr>

<td>{{ r.id }}</td>

<td>{{ r.requester }}</td>

<td>{{ r.project_name }}</td>

<td>

{% if r.priority == "خیلی فوری" %}

<span class="badge bg-danger">
🔴 خیلی فوری
</span>

{% elif r.priority == "فوری" %}

<span class="badge bg-warning text-dark">
🟠 فوری
</span>

{% else %}

<span class="badge bg-success">
🟢 عادی
</span>

{% endif %}

</td>

<td>

{% if r.status == "PENDING" %}

<span class="badge bg-warning text-dark">
در انتظار
</span>

{% elif r.status == "APPROVED" %}

<span class="badge bg-success">
تحویل شد
</span>

{% else %}

<span class="badge bg-secondary">

{{ r.status }}

</span>

{% endif %}

</td>

<td>

<a
href="/requests/edit/{{ r.id }}"
class="btn btn-sm btn-primary">

✏️

</a>

<a
href="/requests/delete/{{ r.id }}"
class="btn btn-sm btn-danger"
onclick="return confirm('این درخواست حذف شود؟')">

🗑

</a>

</td>

</tr>

    {% else %}

        <tr>
            <td colspan="4" class="text-center">
                هنوز هیچ درخواستی ثبت نشده است.
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}
