{% extends "base.html" %}

{% block title %}
درخواست کالا
{% endblock %}

{% block content %}

<h3>📋 درخواست‌های کالا</h3>

<hr>

<form method="POST" action="/requests/add" class="card p-3 mb-4">

<div class="row">

<div class="col-md-4 mb-3">
<label>پروژه</label>

<select name="project_name" class="form-select">

{% for p in projects %}
<option value="{{ p.name }}">{{ p.name }}</option>
{% endfor %}

</select>

</div>

<div class="col-md-4 mb-3">

<label>اولویت</label>

<select name="priority" class="form-select">

<option value="عادی">عادی</option>
<option value="فوری">فوری</option>
<option value="خیلی فوری">خیلی فوری</option>

</select>

</div>

<div class="col-md-4 mb-3">

<label>توضیحات</label>

<input
type="text"
name="location_description"
class="form-control"
placeholder="مثلاً شعبه مرکزی"
>

</div>

</div>

<hr>

<hr>

<h5>کالای درخواستی</h5>

<table class="table table-bordered" id="items-table">

<thead>

<tr>

<th width="55%">کالا</th>

<th width="20%">تعداد</th>

<th width="15%">عملیات</th>

</tr>

</thead>

<tbody>

<tr>

<td>

<select
name="product_id[]"
class="form-select">

{% for p in products %}

<option
    value="{{ p.id }}"
    {% if p.qty <= 0 %}disabled{% endif %}
>

{{ p.name }}
({{ p.qty }} عدد)

{% if p.qty <= 0 %}
❌ اتمام موجودی
{% endif %}

</option>

{% endfor %}

</select>

</td>

<td>

<input
type="number"
name="qty[]"
value="1"
min="1"
class="form-control">

</td>

<td class="text-center">

<button
type="button"
id="add-row"
class="btn btn-primary">

➕

</button>

</td>

</tr>

</tbody>

</table>

<div class="text-end">

<button class="btn btn-success">

ثبت درخواست

</button>

</div>


</form>

<table id="items-table" class="table table-bordered"></table>

<tr>

<th>شماره</th>
<th>درخواست‌کننده</th>
<th>پروژه</th>
<th>وضعیت</th>

</tr>

{% for r in requests %}

<tr>

<td>{{ r.id }}</td>
<td>{{ r.requester }}</td>
<td>{{ r.project_name }}</td>
<td>{{ r.status }}</td>

</tr>

{% else %}

<tr>

<td colspan="4" class="text-center">

هنوز هیچ درخواستی ثبت نشده است.

</td>

</tr>

{% endfor %}

</table>

{% endblock %}
